trigger:
  - main

pr: none

pool:
  name: Azure Pipelines
  vmImage: 'windows-latest'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

stages:
  - stage: BuildApp
    displayName: Build App
    jobs:
      #- template: templates/app-build.yml@templates
    - job: 
      pool:
        name: Azure Pipelines
        vmImage: 'windows-latest'
      steps:
      - task: NuGetToolInstaller@1

      - task: NuGetCommand@2
        inputs:
          restoreSolution: '$(solution)'
          
      - task: CmdLine@2
        displayName: 'Build migrations bundle'
        inputs:
          script: |
            dotnet tool install --global dotnet-ef --version 8.0.4
            dotnet ef migrations bundle --verbose --self-contained -r win-x86 --project CheckYourEligibility.API/CheckYourEligibility.API.csproj
            mv efbundle.exe $(Build.ArtifactStagingDirectory)

      - task: VSBuild@1
        inputs:
          solution: '$(solution)'
          msbuildArgs: '/p:DeployOnBuild=true /p:WebPublishMethod=Package /p:PackageAsSingleFile=true /p:SkipInvalidConfigurations=true /p:DesktopBuildPackageLocation="$(build.artifactStagingDirectory)\WebApp.zip" /p:DeployIisAppPath="Default Web Site"'
          platform: '$(buildPlatform)'
          configuration: '$(buildConfiguration)'

      - task: VSTest@2
        inputs:
          platform: '$(buildPlatform)'
          configuration: '$(buildConfiguration)'
          runSettingsFile: 'CheckYourEligibility.API.Tests/.runsettings'
          resultsFolder: '$(build.ArtifactStagingDirectory)/Test/Results'
          otherConsoleOptions: '/collect:"Code Coverage;Format=Cobertura"'  # <<<< this is the important bit
          codeCoverageEnabled: True

      - task: PublishCodeCoverageResults@1
        inputs:
          codeCoverageTool: 'Cobertura'
          summaryFileLocation: '$(build.ArtifactStagingDirectory)/Test/Results/**/*.xml'

      - task: DotNetCoreCLI@2
        inputs:
          command: publish
          publishWebProjects: True
          arguments: '--configuration $(BuildConfiguration) --output $(Build.ArtifactStagingDirectory)'
          zipAfterPublish: True
      - task: PublishPipelineArtifact@1
        inputs:
          targetPath: '$(Build.ArtifactStagingDirectory)' 
          artifactName: 'checkYourEligibilityAPI'

## -- dev deploy -- ##
  - template: templates/deploy-app-template.yml
    parameters:
      stageName: 'DeployAppDev'
      displayName: 'Deploy App Dev'
      deploymentName: 'devdeploy'
      environment: 'DEV'
      ECE_KEY_VAULT_NAME: 'ece-dev-kv-ece'
      azureSubscription: 's203d.azdo.deployment'
      azureResourceGroup: 's203d01-core1'
      sqlServerName: 'ece-dev-database'
      webAppName: 'ece-dev-as-eligibility-checking-engine'
## -- dev deploy -- ##

## -- dev cypress tests -- ##
  - template: templates/run-cypress-tests-template.yml
    parameters:
      stageName: 'RunCypressTestsDev'
      displayName: 'Run Cypress Tests Dev'
      cypressApiHost: '$(CYPRESS_API_HOST_DEV)'
      jwtUsername: '$(JWT_USERNAME_DEV)'
      jwtPassword: '$(JWT_PASSWORD_DEV)'
      cypressEnv: 'DEV'
## -- dev cypress tests -- ##

## -- test deploy -- ##
  - template: templates/deploy-app-template.yml
    parameters:
      stageName: 'DeployAppTest'
      displayName: 'Deploy App Test'
      deploymentName: 'testdeploy'
      environment: 'TEST'
      ECE_KEY_VAULT_NAME: 'ece-test-kv-ece'
      azureSubscription: 's203t.azdo.deployment'
      azureResourceGroup: 's203t01-core1'
      sqlServerName: 'ece-test-database'
      webAppName: 'ece-test-as-eligibility-checking-engine'
## -- test deploy -- ##

## -- test cypress tests -- ##
  - template: templates/run-cypress-tests-template.yml
    parameters:
      stageName: 'RunCypressTestsTest'
      displayName: 'Run Cypress Tests Test'
      cypressApiHost: '$(CYPRESS_API_HOST_TEST)'
      jwtUsername: '$(JWT_USERNAME_TEST)'
      jwtPassword: '$(JWT_PASSWORD_TEST)'
      cypressEnv: 'TEST'
## -- test cypress tests -- ##

## -- pp deploy -- ##
  - template: templates/deploy-app-template.yml
    parameters:
      stageName: 'DeployAppPP'
      displayName: 'Deploy App Pre-prod'
      deploymentName: 'ppdeploy'
      environment: 'PRE-PROD'
      ECE_KEY_VAULT_NAME: 'ece-pp-kv-ece'
      azureSubscription: 's203t.azdo.deployment'
      azureResourceGroup: 's203t02-core1'
      sqlServerName: 'ece-pp-database'
      webAppName: 'ece-pp-as-eligibility-checking-engine'
## -- pp deploy -- ##

## -- pp cypress tests -- ##
  - template: templates/run-cypress-tests-template.yml
    parameters:
      stageName: 'RunCypressTestsPp'
      displayName: 'Run Cypress Tests Pre-Prod'
      cypressApiHost: '$(CYPRESS_API_HOST_PP)'
      jwtUsername: '$(JWT_USERNAME_PP)'
      jwtPassword: '$(JWT_PASSWORD_PP)'
      cypressEnv: 'PP'
## -- pp cypress tests -- ##

## -- prod deploy -- ##
  - template: templates/deploy-app-template.yml
    parameters:
      stageName: 'DeployApp'
      displayName: 'Deploy App Production'
      deploymentName: 'deploy'
      environment: 'PROD'
      ECE_KEY_VAULT_NAME: 'ece-kv-ece'
      azureSubscription: 's203p.azdo.deployment'
      azureResourceGroup: 's203p01-core1'
      sqlServerName: 'ece-database'
      webAppName: 'ece-as-eligibility-checking-engine'
## -- prod deploy -- ##
